# Les points d'entree C ou Fortran appelés par les fonctions R;
# Le 1ier nom est le nom de la librairie qui doit être le même
# que le nom du  package
useDynLib(planor, PLANORsubgroup, 
          PLANORcbindBig, PLANORrbindBig,
          PLANORmultBigmod, PLANORmultBigSmod, PLANORmultBig,
          PLANORcol0Big, PLANORloopkernelcheck,
          PLANORweightorder, PLANORlibsk,
          PLANORinv)
# Les fonctions R a disposition de l'utilisateur
export(
  planor.designkey,
  planor.factors, planor.harmonize, planor.model,
  planor.randomize,
  regular.design,
  as.data.frame.planordesign,
  summary.listofkeyrings, summary.designkey , summary.keymatrix,
       summary.keyring,  summary.listofdesignkeys,
  alias.designkey, alias.keymatrix, alias.listofdesignkeys,
       alias.listofkeyrings,  makedesignkey )    
exportClasses(designfactors)
exportClasses(designkey)
exportClasses(planordesign )
exportClasses(keymatrix)
exportClasses(keyring)
exportClasses(listofkeyrings)
exportClasses(listofdesignkeys)
exportMethods(bind, pick, planor.design,  getDesign)
import(biganalytics, bigmemory, conf.design, methods)

