useDynLib(planor, .registration = TRUE)

# Les fonctions R a disposition de l'utilisateur
export(
  planor.designkey,
  planor.factors, planor.harmonize, planor.model,
  planor.randomize,
  regular.design,
 as.data.frame.planordesign,
  summary.listofkeyrings, summary.designkey , summary.keymatrix,
  summary.keyring,  summary.listofdesignkeys, summary.planordesign,
  alias.designkey, alias.keymatrix, alias.listofdesignkeys,
       alias.listofkeyrings, alias.planordesign,  makedesignkey )
exportClasses(designfactors)
exportClasses(designkey)
exportClasses(planordesign )
exportClasses(keymatrix)
exportClasses(keyring)
exportClasses(listofkeyrings)
exportClasses(listofdesignkeys)
exportMethods(bind, pick, planor.design,  getDesign)
importFrom(Rcpp, evalCpp)
import(methods, bit64)
importFrom(conf.design, factorize)
importFrom(stats, as.formula, terms)
S3method(as.data.frame, planordesign)
S3method(summary,designkey)
S3method(summary,keymatrix)
S3method(summary, keyring)
S3method(summary,listofdesignkeys) 
S3method(summary,listofkeyrings)
S3method(summary,planordesign)
S3method(alias, designkey)
S3method(alias, keymatrix)
S3method(alias, listofdesignkeys)
S3method(alias, listofkeyrings)
S3method(alias,planordesign)
